%a{:name => "top"}
.block-spacer
.box_white{:style => "width: 66%;"}
  %h2 What is Community Supported Journalism Northfield (CSJN) about?
  .double_content_border
  %p
    CSJN is a nonprofit project of the 
    == #{link_to "Center for Sustainable Journalism", "http://communitysupportedjournalism.org/"} 
    at Kennesaw State University in Atlanta, Georgia. The Center is run by 
    == #{link_to "Professor Leonard Witt.", "http://www.kennesaw.edu/communication/witt.shtml"} 
  %p
    We are a marketplace where independent reporters, citizen journalists, community members, and media organizations can come together and collaborate. We're applying the concept (and using the software platform) developed by
    == #{link_to "Spot.us", "http://www.spot.us/"}, founded by 
    == #{link_to "David Cohn", "http://www.digidave.org"} and made possible by a generous grant from
    the Knight Foundation. 
 
    %h2
      Frequently Asked Questions
      %a{:name => "faq"}
  .float_right
    %span
      %a{:href => "#top"} Back to top &#94;
  .double_content_border.clear
  
  %h3 
    %strong 
      %a{:href =>"#faq_citizen"} For Citizens
  %ul  
    %li
      %a{:href =>"#faqtip"} What is a Tip?
    %li
      %a{:href =>"#pledge_versus_tip"} What's the difference between Pledge and Donate?
    %li
      %a{:href =>"#finished_content_citizens"} What happens to the finished content?
    %li
      %a{:href =>"#join_the_team"} What does it mean to join the reporting team?
    %li  
      %a{:href =>"#donation_goal"} What if the Pitch I donate to doesn't reach its goal?
    %li
      %a{:href =>"#thereporters"} Who are these reporters?
    %li
      %a{:href =>"#priceguide"} How are prices for each Pitch determined?
    %li
      %a{:href =>"#privacy"} About your privacy
  %h3 
    %strong 
      %a{:href =>"#faq_reporter"} For reporters
  %ul
    %li
      %a{:href =>"#mandatory"} Required reading: How to determine pricing      
    %li
      %a{:href =>"#reporters_tip"} What is a Tip?
    %li
      %a{:href =>"#pitch_advice"} Advice on creating a Pitch
    %li
      %a{:href =>"#tip_attach"} Attaching a Tip to your Pitch
    %li
      %a{:href =>"#qa_editor"} What's the role of the Peer-Review editor?
    %li
      %a{:href =>"#joined_the_team"} What does it mean if somebody has applied to join the reporting team?
    %li
      %a{:href =>"#finished_content_reporters"} What happens to the finished content?
    %li
      %a{:href =>"#pitch_goal"} What if my Pitch doesn’t reach its goal?
    %li
      %a{:href =>"#address"} Why do we need a shipping address?
    %li
      %a{:href =>"#creative_commons"} What’s the Creative Commons deal?
  %h3
    %strong 
      %a{:href =>"#faq_news_organization"} For Media Organizations
  %ul
    %li
      %a{:href =>"#approval"} Why do we need approval to get started?
    %li
      %a{:href =>"#work_with"} Advice on working with CSJN. How to bolster your freelance budget.
  %a{:name => "faqtip"}
  %h3 What is a Tip?
  %p
    You can create a news Tip about an important topic or issue that you think should be reported on. This is
    often related to the question "What's important that citizens need to know?" You can pledge to this Tip, but
    no money is taken. It’s just a way to show how much interest you have in this possibly becoming
    a pitch. Creating a Tip could be the spark that starts an investigation, an in-depth story, a beat, etc.
    
  %a{:name => "pledge_versus_tip"}
  %h3 What's the difference between Pledge and Donate?
  %p
    Pledges give reporters a sense of community interest in a news Tip. It does not
    represent real money. Nothing is committed, although we ask you pledge only what you’d be
    willing to eventually donate if a reporter builds a full Pitch inspired by this Tip. Donations
    to Pitches are tax-deductible and are a transaction. If the Pitch is unsuccessful, you will
    receive money back in the form of CSJN credits. No matter what, your money will go to support
    journalism. 
  %p
    In the future we hope to build out a more dynamic credit system such that credit
    cards are only charged if the specific Pitch you want has reached its funding goal.
    
  %a{:name => "finished_content_citizens"}
  %h3 What happens to the finished content?
  %p
    Finished content is licensed under Creative Commons and anyone is free to
    republish it. CSJN works with local media organizations to get it distributed in as many
    places as possible. See our growing list of registered media organizations. Our partner news
    organizations can also obtain temporary copyright to the content (first publishing rights) if they
    donate 50% or more towards a pitch. Extra proceeds go back to community members who
    originally supported that pitch.

  %a{:name => "join_the_team"}
  %h3 What does it mean to join the reporting team?
  %p
    CSJN believes that many stories can benefit by being participatory. When you "join the
    reporting team" a message is sent to the reporter that others are interested in helping them out
    with the reporting work. If the reporter has assignments, we will pass them along and you will
    have access to the pitch's blog so you can show the reporter and the world what you have dug up.
    Not all stories benefit through collaboration, so joining the reporting team is done on a case
    by case basis by the reporter who is in charge of the pitch.
        
  %a{:name => "donation_goal"}
  %h3 What if the pitch I donate to doesn't reach its goal?
  %p
    All credits are returned to your account and you can direct them towards any other existing
    pitch. You will have until the end of the fiscal year to put the money back in circulation
    through the CSJN system.
  %p
    In the future we hope to build out a more dynamic credit system such that credit
    cards are only charged if the specific pitch you want has reached its funding goal.
    
  %a{:name => "thereporters"}
  %h3 Who are these reporters?
  %p
    Reporters on CSJN are self-identified freelance journalists. We do speak with every reporter
    about their pitch and verify their identity. As a marketplace we will continue to build tools to
    enable you to find out more about these reporters and judge them on the merits of their work.
    But it is important to note that CSJN does not try to define who is and is not a journalist.
    Any self-identified freelancer can work with us and if they are earnest, we will reciprocate. We
    encourage every citizen to view the reporters profile and pitch critically before you donate.
  
  %a{:name => "priceguide"}
  %h3 How are prices for each pitch determined?
  %p
    As a marketplace CSJN is continually updating its 
    = link_to 'pricing guildines.', page_path("reporter_agreement") 
    We have built this guideline as a means to explain how much a
    reporter can reasonably ask for during an investigation. It is based on competitive rates
    throughout the country for freelancers.
    
  %a{:name => "privacy"}
  %h3 Your Privacy
  %p
    Privacy is very important to us. We will never share your information with a third party. No
    ifs, ands, or buts. To learn more, please check our 
    = link_to 'Privacy Policy.', page_path("privacy")

  %a{:name => "mandatory"}
  %h3 Agreement to work with CSJN and pricing guidelines.
  %p
    We've created a pricing guideline based on competitive rates for freelancers. This also includes the "reporters agreement" that explains the working relationship between 
    CSJN and the reporter.
  %p 
    == #{link_to "Required Reading", page_path("reporter_agreement"),:style => "color: red;"}   
  %p
  %a{:name => "reporters_tip"}
  %h3 What is a Tip?
  %p
    Tips are exactly what they sound like: community tips on untold and important stories or issues. 
    Creating a Pitch and then referencing a Tip will send a note to every member of that group 
    to let them know their story Tip could become a reality in your Pitch. In this sense, the 
    community is your ally in forming Pitches. Browse the Tips and create Pitches based on them. 
    You can reference as many Tips as are relevant to your Pitch.
  
  %a{:name => "pitch_advice"}
  %h3 Advice on creating a Pitch
  %p
    Write the Pitch so that anyone who reads it will want to see it materialize. Sell your
    idea and your expertise on the subject. Don’t be afraid to be personal. Upload a YouTube video
    explaining who you are and why you’re the right person for the job. Imagine what civic leaders
    or organizations would want to partner with you. Remember: the public now has a freelance
    budget; pitch them like you would the editor of a major metropolitan newspaper. 
    == (#{link_to "Read More", "http://blog.spot.us/2008/10/09/independent-journalists-how-to-raise-your-own-income "}).

  %a{:name => "tip_attach"}
  %h3 Attaching a Tip to your Pitch
  %p
    Attaching a tip is a reporter's way of tapping the community members on the shoulder and saying
    “Hey, I’ve referenced your news Tip in my Pitch.” You can ping as many Tips as you want but
    they should be related to the Pitch you create.
    
  %a{:name => "qa_editor"}
  %h3 What’s the role of the Peer-Review Editor?
  %p
    The Peer-Review editor has three main responsibilities: to ensure fair and accurate reporting,
    to be a second pair of eyes before a story is published, and to be a sounding board as the
    reporter develops a story. To do the latter, the Peer-Review editor should be in touch with the
    journalist before reporting begins and before the draft is uploaded. At any time, the Peer-Review
    editor can report suspicious activities to CSJN. Peer-Review editors are assigned by CSJN,
    and the reporter can reject the first two assigned editors. The content will not publish
    without the Peer-Review editor's approval. Any journalist can apply to be a Peer-Review editor
    within their profile.
    
  %a{:name => "joined_the_team"}
  %h3 What does it mean if somebody has applied to join the reporting team?
  %p
    This is great! It means somebody wants to help with your reporting. Some stories can benefit by
    distributing the workload. If you need help researching or reporting, this is a volunteer.
    Contact CSJN and we will put you in touch with the volunteer and then it is up to you if they
    will join your reporting team. If they do, they'll have access to the Pitch's blog. The choice
    is yours, but CSJN encourages participatory journalism.
    
  %a{:name => "finished_content_reporters"}
  %h3 What happens to the finished content?
  %p
    Finished content is licensed under Creative Commons and anyone is free to
    republish it (with attribution to the author). CSJN works with local media organizations to get it distributed in as many
    places as possible. See our growing list of registered media organizations. Our partner media
    organizations can also obtain first publishing rights to the content if they donate 50% or more towards a pitch. Extra proceeds go back to community members who
    originally supported that pitch. 
  %p 
    Next time an editor rejects your piece purely for monetary reasons, suggest raising
    half of your freelance salary on CSJN. CSJN is happy if you upload pitches to our site and
    try to shop them around to media organizations at the same time under the condition that
    interested media organizations work with the CSJN community.
  
  %a{:name => "pitch_goal"}
  %h3 What if my Pitch doesn’t reach its goal?
  %p
    You can accept to do the pitch regardless of whether or not you reach the original goal. So, if
    you raise 80% of the stated goal, you can still accept that money, but you must do what was
    outlined in the original pitch. You can also choose to cancel the pitch at any time and
    donations will be directed back to the original donors so they may direct it to another pitch.
  %P    
    In the future we will have a more dynamic credit card system that will only charge a users
    credit cards upon the successful completion of a pitch.
  %a{:name => "address"}
  %h3 Why do we need a shipping address?
  %p
    We will not share this information with anyone; it’s merely so we can send you a check for the
    work that you do on CSJN.
  %a{:name => "creative_commons"}
  %h3 What’s the Creative Commons deal?
  %p
    The end content produced by CSJN will be given away for free unless a media organization has
    contributed either 50% or 100% of the total cost. In that situation, we will grant that
    media organization temporary copyright to the article. Eventually all CSJN stories are licensed
    under Creative Commons. You can learn more by reading our 
    = link_to 'Reporters Contract', page_path("reporter_contract")
  %a{:name => "approval"}
  %h3 Why do we need approval to get started?
  %p
    Media organizations have a special role in CSJN. They are the only type of user that is
    allowed to donate more than 20% of a Pitch's goal. As such, we interview media organizations to ensure
    they ascribe to journalistic ethics as described by the Society of Professional Journalists. We
    realize that a waiting period before you become a "media organization" on CSJN is less than
    ideal, but it is important to us that these ethics are followed by anybody who could
    singlehandedly fund the content.
  %a{:name => "work_with"}
  %h3 Advice on working with CSJN. How to bolster your freelance budget.
  %p
    CSJN is an opportunity to bolster your freelance budget by working with and for the public.
    We only work with freelancers; we cannot support staff writers. But if you do work or want to
    procure freelance work, perhaps part of their wage can be shared with the public. You can donate
    50% of their freelance salary upfront and the CSJN community can fundraise the other 50%.
    Your organization will still get first publishing rights. Or you can register on CSJN and
    find out about high quality articles that have been 100% community funded, so the reporting
    comes from a professional reporter. You can run the content for free.
  %p
  %strong Here are the various ways your organization can get involved
  %ul
    %li
      CSJN content that is 100% community funded is made available for free to media organizations
      to republish. Register on the site and we'll let you know when content is going to be published.
    %li
      Donate 50% of the value of the content and you'll get exclusive rights. (This is only
      available until the content has reached 51% funding through community donations, so get
      in the game early).
    %li
      Donate 100% of the value of the content and you'll get exclusive rights. You can do this
      at any time - all extra proceeds will be given back to community members to invest in another
      pitch. This is a way to build a new relationship with your audience. They'll love you for
      refunding them and it's a built-in audience.
    %li
      We encourage you to donate small amounts as well. Even tiny donations from a media
      organization can be the push to give a Pitch the momentum it needs to get community funding -
      and you are welcome to the final content or even to apply as a peer-review editor.
